<div class="shadow p-2 mt-5 mb-5 profilecard" style="border-radius: 10px;" >
    <div class="space-y-3" style="height:150px;">
        <div class="text-center">

            <!-- // search bar -->
            <div class="input-group mb-3 d-flex gap-2">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                <span class="mt-1">

                    <magnifying-glass-outline-icon></magnifying-glass-outline-icon>
                </span>

            </div>
            <div class="" style="text-align: center;">

                <p>
                    No results found
                </p>

            </div>

        </div>
    </div>
</div>