<div>

    <div>
        <img src="assets/images/conf.png" class="img-fluid" alt="cover" style="width: 100%; height: auto;">
    </div>

    <div>
        <form 
        class="text-start"
        >
            <div class="form-group">
                <label for="name"  class="p-2" style="font-weight: bold;">Name</label>

                <select id="name" name="name" class="form-select" aria-label="Default select example"
                [(ngModel)]="name"   
                >
                    <option selected>Anonymous</option>
                </select>
            </div>

            <div class="form-group">
                <label for="conf" class="p-2" style="font-weight: bold;">
                    Thought
                </label>
                <textarea name="conf" class="form-control" id="conf" rows="3"
                    placeholder="Write your confession here..." [(ngModel)]="confession" required></textarea>
            </div>
            <div class="text-center p-2">
                <div *ngIf="isloding" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <button *ngIf="!isloding" (click)="addConfession()" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>