<div class="shadow-sm p-2 mt-4 profilecard">
    <div class="space-y-3">
        <div class="text-center">
            <div class="">
                <img class="h-12 w-12" style="border-radius: 100%;"
                    src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="">
            </div>
            <div class="text-center">
                <h6 
                style="font-weight: bold; font-size: 1.5rem;">Tom Cook</h6>
                
            </div>

            <div >
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>