<div class="shadow p-2 mt-5 mb-5 profilecard" style="border-radius: 10px;">
    <div class="space-y-3" style="height:240px;">
        <div class="" style="font-weight: bold; text-align: left;">
            <h5>Trending Thoughts</h5>



        </div>
        <div style="overflow-y: scroll; overflow-x: hidden; height: 200px;scroll-behavior: smooth;
        scrollbar-width: none;
        ">
            <div *ngFor="let confession of confessions" class="pt-2">

                <div class="container shadow-sm   pt-2">
                    <div class="d-flex flex-row gap-2">
                        <img src="/assets/images/Avatar.jpg" width="30" height="30" class="rounded-circle" alt="...">
                        <div>
                            <p class="pt-1" style="font-weight: bold; height: 3px; font-size: small;">
                                {{confession.name}}
                            </p>
                            <p class="pt-1" style="display: flex; font-weight: 300; height: 10px; font-size: x-small;">
                                {{confession.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}
                            </p>
                        </div>
                    </div>
                    <div class="pb-1">
                        <p style="text-align: justify; font-size: small;">
                            {{confession.description}}
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>