<div class="shadow p-2 mt-5 mb-4">
    <h3 class="text-center">Your Thoughts
    </h3>

    <div *ngIf="isloding" class="spinner-border mt-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!isloding && confessions.length == 0" class="text-center mt-2">
        <h5>No Confessions Found
        </h5>
    </div>

    <div *ngFor="let confession of confessions">
        <app-confessioncard [confession]="confession" [isDelete]="true"></app-confessioncard>
    </div>



</div>