<div class="shadow p-2 mt-5 mb-4" style="height: 80vh;">

    <!-- Profile section -->
    <div class="mt-4">

        <div class="text-center gap-y-3">

            <img *ngIf="user?.username?.length > 0; else elseblock2" style="border-radius: 100%;"
                src="assets/images/Avatar.jpg" alt="" width="120" height="120">
            <ng-template #elseblock2>
                <img style="border-radius: 100%;" src="assets/images/sad-face.png" alt="" width="120" height="120">
            </ng-template>

        </div>
        <div class="text-center">
            <h6 *ngIf="user?.username?.length > 0; else elseblock" style="font-weight: bold; font-size: 2rem;">
                {{user.username}}
            </h6>
            <ng-template #elseblock>
                <h6 style="font-weight: bold; font-size: 2rem;">
                    You Haven't Logged In

                </h6>
            </ng-template>




        </div>


        <div class="mt-5 gap-y-3 form-group d-flex gap-2">
            <label for="name" class="p-2" style="font-weight: bold;">Email</label>
            <input type="text" name="email" class="form-control w-80" id="name" aria-describedby="emailHelp"
                [defaultValue]=user.email disabled required>


        </div>

        <div class="text-center gap-y-3 mt-4">

            <button *ngIf="user?.username?.length > 0; else elseblock3" (click)="handleLogout()"
                class="btn btn-primary">
                Logout
            </button>
            <ng-template #elseblock3>
                <button routerLink="/login" class="btn btn-primary">
                    Login
                </button>
            </ng-template>

        </div>

    </div>


</div>