<div class="shadow-sm p-1 mt-4" style="text-align: left; cursor: pointer; border-radius: 10px;">
    <div class="space-y-3">
        <div class="d-flex flex-row gap-2">

            <home-solid-icon></home-solid-icon>
            <a routerLink="/">

                <h5>Home</h5>
            </a>
        </div>
        <div class="d-flex flex-row gap-2">

            <heart-solid-icon></heart-solid-icon>
            
        <a routerLink="/myconfession">
            <h5> My Confession</h5>
        </a>
        </div>
        <div class="d-flex flex-row gap-2">

            <plus-solid-icon></plus-solid-icon>
            <a routerLink="/addconfession">

                <h5>
                    Add
                </h5>
            </a>
        </div>
        
    </div>
</div>