<div *ngIf="confession" class=" w-100  shadow-sm p-1 mt-4 mb-4">
    <div class="d-flex flex-row gap-2">

        <img src="/assets/images/Avatar.jpg" width="40" height="40" class="rounded-circle" alt="...">
        <div>

            <p class="pt-1" style="font-weight: bold; height: 3px; text-align: left;">
                {{ confession.name }}
            </p>
            <p class="pt-1" style="display: flex; font-weight: 300; height: 15px;">
                <!-- // format confession date in  1 hour ago format -->
                {{ confession.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}


            </p>
        </div>

        <!-- // report icon  -->
        <div *ngIf="confession.reportedby.includes(uid) else elseBlock2">
            <flag-solid-icon color="red"></flag-solid-icon>
        </div>
        <ng-template #elseBlock2>
            <div *ngIf="isReport" class="mt-1" (click)="reportConfession(confession._id)">
                <flag-outline-icon color="red"></flag-outline-icon>
            </div>
        </ng-template>

        <div *ngIf="isDelete" class="mt-1" (click)="deleteconfession(confession._id)">
            <trash-outline-icon color="red"></trash-outline-icon>
        </div>
    </div>
    <div class="pt-1">
        <p style="text-align: justify;">
            {{ confession.description }}
        </p>
    </div>

    <div class="d-flex flex-row gap-2">
        <div class="d-flex flex-row gap-2">
            <div *ngIf="isloding">
                <img src="/assets/images/loading2.gif" width="30" height="30" alt="...">
            </div>
            <div *ngIf="!isloding">
                <div *ngIf="isLiked  && confession.likedby.includes(uid); else elseBlock">


                    <span (click)="updateLike(confession._id)">

                        <heart-solid-icon></heart-solid-icon>
                    </span>
                </div>
                <ng-template #elseBlock>
                    <span (click)="updateLike(confession._id)">

                        <heart-outline-icon></heart-outline-icon>
                    </span>
                </ng-template>
            </div>


            <p class="pt-1">{{confession.likes }} Likes</p>

        </div>
        <div class="d-flex flex-row gap-2">
            <span (click)="toggleComment()">

                <chat-bubble-bottom-center-outline-icon></chat-bubble-bottom-center-outline-icon>
            </span>
            <p class="pt-1">Comment</p>
        </div>
    </div>

    <!-- // comment box -->
    <div *ngIf="showComment">
        <div class="d-flex flex-row gap-2">
            <div class="w-100">
                <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="2"
                    placeholder="Write a comment..." [(ngModel)]="comment">
                </textarea>
            </div>
            <div class="pt-2" (click)="postComment(confession._id)">

                <paper-airplane-solid-icon></paper-airplane-solid-icon>
            </div>
        </div>
    </div>

    <!-- // comment section -->
    <div *ngIf="showComment" class="container mt-4">

        <div *ngFor="let comment of confession.comments"
            style="border-radius: 10px; background-color:rgb(243, 244, 246) ;">
            <div class="container  pt-2 mb-2">
                <div class="d-flex flex-row gap-2">
                    <img src="/assets/images/Avatar.jpg" width="30" height="30" class="rounded-circle" alt="...">
                    <div>
                        <p class="pt-1" style="font-weight: bold; height: 3px; font-size: small;">
                            Anonymus
                        </p>
                        <p class="pt-1" style="display: flex; font-weight: 300; height: 10px; font-size: x-small;">
                            {{
                            comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                    </div>
                </div>
                <div class="pb-1">
                    <p style="text-align: justify; font-size: small;">
                        {{ comment.comment }}
                    </p>
                </div>
            </div>


        </div>

    </div>
</div>